<div class="row mb-4">
    <div class="form-group">
        <select name="subject" style="width: 200px" [(ngModel)]="container" (change)="loadMessages()" class="form-control ml-1">
            <option *ngFor="let container of containerList" [value]="container">{{container}}</option>
        </select>
    </div>
</div>

<div class="row" *ngIf="messages?.length === 0">
    <h3>No messages</h3>
</div>

<div class="row" *ngIf="messages?.length > 0">
    <table class="table table-hover" style="cursor: pointer">
        <tr>
            <th style="width: 40%;">Message</th>
            <th style="width: 20%;">From / To</th>
            <th style="width: 20%;">Sent / Received</th>
            <th style="width: 40%;"></th>
        </tr>
        <tr *ngFor="let message of messages" 
            routerLink='{{container === "Outbox" 
                ? "/members/" + message.recipientUsername 
                : "/members/" + message.senderUsername}}'
                [queryParams]='{tab: 3}'>
            <td>{{message.content}}</td>
            <td>
                <div *ngIf="container === 'Outbox'">
                    <a routerLink="/members/{{message.recipientUsername}}">{{message.recipientName}}</a>
                </div>
                <div *ngIf="container !== 'Outbox'">
                    <a routerLink="/members/{{message.senderUsername}}">{{message.senderName}}</a>
                </div>
            </td>
            <td>
                {{message.messageSent | timeago}}
            </td>
            <td>
                <button (click)="$event.stopPropagation()" (click)="deleteMessage(message.id)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </table>
</div>
<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>