<div class="row">
    <div class="col-4">
        <div>
            <h1><strong>{{member?.name}}</strong></h1>
        </div>
        <div class="mb-2" *ngIf="(presence.onlineUsers$ | async).includes(member?.username)">
            <p style="color:green">Online now</p> 
        </div>
        <button (click)="selectTab(1)" class="btn btn-success">Message</button>
    </div>
    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading='Subjects' (selectTab)="onTabActivated($event)">
                <li *ngFor="let subject of member?.subjects">
                    <a routerLink='/courses/{{subject.id}}'><strong class="d-inline-block mb-2 text-primary">{{subject.name}}</strong></a>

                </li>
            </tab>
            <tab *ngIf="member?.rank === 'prof'" heading='Posts' (selectTab)="onTabActivated($event)">
                <div *ngFor="let post of member.posts" class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <app-posts-section [member]="member" [post]="post"></app-posts-section>
                </div>
            </tab>
            <tab heading='Messages' (selectTab)="onTabActivated($event)">
                <app-member-messages [username]="member?.username"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>