<div class="col p-4 d-flex flex-column position-static">
    <a routerLink='/courses/{{post.subject.id}}'><strong class="d-inline-block mb-2 text-primary">{{post.subject.name}}</strong></a>
    <h3 class="mb-0">{{post.title}}</h3><p> by <a routerLink='/members/{{member.username}}'>{{member.name}}</a></p>
    <p class="card-text mb-auto">{{post.message | slice:0:20 }}</p>
    <a routerLink='/posts/{{post.id}}' class="stretched-link">Continue reading</a>
</div>