<div *ngIf="(accountService.currentUser$ | async) === null" class="container mt-5">
    <div class="text-center">
        <h1 class="lead"><b>Welcome to the E-Learning App.<br>Please log in.</b></h1>
    </div>
</div>
<div class="container mt-5" *ngIf="accountService.currentUser$ | async">
    <app-post-list></app-post-list>
</div>