<div class="text-center mt-3">
    <h2> Posts ({{pagination?.totalItems}}) </h2>
</div>
<div class="container mt-3">
    <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadPosts()" autocomplete="off">
        <div class="form-group">
            <label>Subject</label>
            <select name="subject" style="width: 200px" [(ngModel)]="paginationParams.subjectName" class="form-control ml-1">
                <option *ngFor="let subject of subjectList" [value]="subject.value">{{subject.display}}</option>
            </select>
        </div>
        <button class="btn btn-primary ml-1" type="submit">Apply</button>
        <button (click)="resetFilters()" class="btn btn-info ml-1" type="submit">Reset</button>
    </form>
</div>
<div *ngFor="let post of posts" class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <app-posts-section [member]="post.user" [post]="post"></app-posts-section>
</div>
<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>