<div class="row" *ngIf="subject">
    <div class="col-4">
        <div>
            <h1><strong>{{subject.name}}</strong></h1>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading='Posts'>
                <div *ngFor="let post of subject.posts" class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <app-posts-section [member]="post.user" [post]="post"></app-posts-section>
                </div>
            </tab>
            <tab heading='Members'>
                <li *ngFor="let user of subject.users">
                    <a routerLink='/members/{{user.username}}'>{{user.name}} <strong *ngIf="user.rank === 'prof'">- owner</strong></a>
                </li>
            </tab>
        </tabset>
    </div>
</div>