<div class="row">
    <div class="col-6">
        <h1>Students</h1>
        <div *ngFor="let member of members$ | async">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" *ngIf="member.rank === 'stud' && member.username != user.username">
                <div class="col p-4 d-flex flex-column position-static">
                    <a routerLink='/members/{{member.username}}' class="stretched-link"><h3 class="mb-0">{{member.name}}</h3></a>
                    <span *ngIf="(presence.onlineUsers$ | async).includes(member.username)" [class.is-online]="(presence.onlineUsers$ | async).includes(member.username)">
                        online
                    </span>
                    <span *ngIf="!(presence.onlineUsers$ | async).includes(member.username)" [class.is-offline]="!(presence.onlineUsers$ | async).includes(member.username)">
                        offline
                    </span>
                    <a routerLink='/members/{{member.username}}' [queryParams]='{tab: 1}' class="stretched-link">-message</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h1>Professors</h1>
        <div *ngFor="let member of members$ | async">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" *ngIf="member.rank === 'prof' && member.username != user.username">
                <div class="col p-4 d-flex flex-column position-static">
                    <a routerLink='/members/{{member.username}}' class="stretched-link"><h3 class="mb-0">{{member.name}}</h3></a>
                    <span *ngIf="(presence.onlineUsers$ | async).includes(member.username)" [class.is-online]="(presence.onlineUsers$ | async).includes(member.username)">
                        online
                    </span>
                    <span *ngIf="!(presence.onlineUsers$ | async).includes(member.username)" [class.is-offline]="!(presence.onlineUsers$ | async).includes(member.username)">
                        offline
                    </span>
                    <a routerLink='/members/{{member.username}}' [queryParams]='{tab: 1}' class="stretched-link">-message</a>
                </div>
            </div>
        </div>
    </div>
</div>