<div class="row">
    <div class="col">
        <strong><h1>Subjects</h1></strong>
        <div *ngFor="let course of courses$ | async" class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <a routerLink='/courses/{{course.id}}' class="stretched-link"><h3 class="mb-0">{{course.name}}</h3></a>
            </div>
        </div>
    </div>
</div>