<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink='/'>E-Learning App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mr-auto">
            <ng-container *ngIf="accountService.currentUser$ | async">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/members' routerLinkActive='active'>Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/courses' routerLinkActive='active'>Subjects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/chat' routerLinkActive='active'>Messages</a>
                </li>
                <li *appHasRole='["Admin"]' class="nav-item">
                    <a class="nav-link" routerLink='/admin' routerLinkActive='active'>Admin</a>
                </li>
            </ng-container>
        </ul>
        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.name}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>
        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" 
            autocomplete="off">
            <input 
                name="username"
                [(ngModel)]="model.username"
                class="form-control mr-sm-2" 
                type="text" 
                placeholder="Username">
            <input 
                name="password"
                class="form-control mr-sm-2" 
                [(ngModel)]="model.password"
                type="password" 
                placeholder="Password">
            <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
    </div>
</nav>