<article class="blog-post">
    <h2 class="blog-post-title">{{post?.title}}</h2>
    <p class="blog-post-meta">January 1, 2021 by <a routerLink='/members/{{post?.user.username}}'>{{post?.user.name}}</a></p>
    <p>{{post?.message}}</p>
    <div class="row-2" *ngFor="let document of post?.documents">
        <div class="text-center">
            <i class="bi bi-fle"></i><a href="{{document.url}}">{{document.name}}</a>
        </div>
    </div>
</article>
<a routerLink='/posts/{{post?.id}}/edit' class="btn btn-primary my-2">edit</a>
