<article class="blog-post">
    <a routerLink="/posts/{{post?.id}}"><h2 class="blog-post-title">{{post?.title}}</h2></a>
    <p class="blog-post-meta">January 1, 2021 by <a routerLink='/members/{{post?.user.username}}'>{{post?.user.name}}</a></p>
    <form #editForm="ngForm" id="editForm" (ngSubmit)="updatePost()">
        <h4>Message</h4>
        <div class="container" *ngIf="post">
            <textarea class="form-control" [(ngModel)]="post.message" name="introduction" rows="6"></textarea>
        </div>
    </form>
    <h4>Documents</h4>
    <app-doc-editor *ngIf="post" [post]="post"></app-doc-editor>
</article>
<button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-success btn-block">Save Changes</button>
